.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;
}

.service-item {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: #ffffff;
  background-size: cover;  /* Ensure the background image covers the entire box */
  background-position: center;  /* Center the background image */
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
}
