.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 40px auto; 
}

.service-item {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: #ffffff;
  background-size: 100%;
  background-position: center;  
  transition: all 0.3s ease, background-size 0.3s ease;
  transform: scale(5);
  overflow: hidden;

}

.service-item:hover {
  transform: scale(1.05);
  background-size: 110%;
  background-color: #313c43;
color: rgb(16, 18, 32);

}


.icon {
  font-size: 50px;
  margin-bottom: 10px;
  fill: #010101;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 1px; 
  }

  .service-item {
    min-height: 150px; 
    background-size: cover; 
  }
}

@media (max-width: 480px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .service-item {
    width: auto;
    min-height: 150px; 
  }
}
