body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.App {
    position: relative;
    min-height: 100vh;
}

.app {
    position: relative;
    min-height: 100vh;
}

/* Add any other global styles you need */
